#app main {
    padding: 15rem 12rem 10rem 20rem;
    color: var(--secondary-text-color);

    display: grid;
    align-content: center;
}

main .content {
    display: grid;
    height: fit-content;

    grid-template-areas:
    "cards graph"
    "cards graph";

    gap: 4rem;
    grid-template-columns: 1.2fr 1fr;
}

#card-wrapper {
    grid-area: cards;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

    gap: 4rem;
}

.card {
    align-content: center;
    text-align: center;

    border: 2px solid #0F18245C;
    border-radius: 10px;

    background-color: var(--primary-card-color);

    padding: 1rem 2rem;

    color: var(--secondary-text-color);
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5rem;
}

.card p {
    margin-top: 5rem;
    font-size: 2rem;
}

.card p span {
    color: green;

    font-size: 4rem;
}

#graph {
    grid-area: graph;
}

#graph .card-title {
    margin-bottom: -4rem;
    margin-top: 2rem;

    justify-content: space-between;
}

.graph-wrapper {
    max-width: 55rem;
    max-height: 55rem;
    margin: -5rem auto -5rem;
}
