* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-header-color: #0F1824;
    --primary-background-color: #E6E6F0;
    --primary-text-color: #FFFFFF;
    --primary-aside-color: #0F1824;
    --primary-border-color: #414142;
    --primary-card-color: #FFFFFF;

    --secondary-text-color: #222020;

    font-family: "Nunito Sans", sans-serif;
}

body {
    font-size: 1.6rem;

    color: var(--primary-text-color);
}

#app {
    min-height: 100vh;
    background-color: var(--primary-background-color);
}

#app header {
    position: fixed;
    width: 100%;

    z-index: 1;
}

#app main {
    min-height: 100vh;
    transition: padding-left 500ms ease-out;
}

#app aside {
    position: fixed;

    height: 100%;
    min-width: 20rem;

    top: 6rem;
    z-index: 1;
}

#menu-wrapper {
    transition: gap 500ms ease-out;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}
