#app main {
    grid-area: main;

    padding: 7rem 12rem 10rem 20rem;
    color: var(--secondary-text-color);

    display: grid;
    align-content: center;
}

main .content {
    display: grid;
    height: fit-content;

    grid-template-areas:
    "cards graph"
    "cards graph";

    gap: 4rem;
    grid-template-columns: 1.2fr 1fr;
}

#card-wrapper {
    grid-area: cards;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

    gap: 4rem;
}

.card {
    align-content: center;

    border-radius: 10px;

    background-color: var(--primary-card-color);

    padding: 1rem 2rem;
}

.card p {
    margin-top: 5rem;
    font-size: 2rem;
}

.card p span {
    color: green;

    font-size: 4rem;
}

#graph.card {
    padding: 0;
}

#graph {
    grid-area: graph;
}

#graph-wrapper {
    max-width: 60rem;
    max-height: 60rem;
    margin: -5rem auto -5rem;
}
