* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-background-color: #181818;
    --secondary-background-color: #202020;

    --primary-header-color: #101010;

    --primary-footer-color: #101010;

    --primary-input-color: #D9CFCF;

    --primary-button-color: green;

    --primary-text-color: white;

    --color-line-in-white: #6D6D75;
}

body {
    font-size: 1.6rem;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
