#app {
    display: grid;
    place-items: center;

    min-height: 100vh;
}

main {
    background: var(--secondary-background-color);

    padding: 7rem;
    border-radius: 20px;

    width: min(60rem, 90%);

    transform: translateY(-50px);
}

#logo {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-bottom: 6.4rem;
}

#logo img {
    margin-right: 2rem;
}
