<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Página Principal</title>

        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/partials/form.css" />
        <link rel="stylesheet" href="../styles/paginaPrincipal.css" />
        <link rel="stylesheet" href="../styles/partials/animations.css" />
    </head>

    <body>
        <div id="app">
            <header>
                <div id="header-wrapper">
                    <div id="logo">
                        <img src="../assets/planet1.png" alt="Logo da marca" />
                        <h1>Nome Da Marca</h1>
                    </div>

                    <form>
                        <div class="input-wrapper">
                            <input placeholder="Busque por aulas" />
                        </div>
                    </form>

                    <button>
                        <img src="../assets/planet1.png" alt="logo do perfil" />
                    </button>
                </div>
            </header>

            <main>
                <div id="hover-screen" class="opacity">
                    <a href="./paginaInicial.html">Ver perfil</a>
                    <a href="#">Certificados</a>
                    <a href="#">Progresso</a>
                </div>

                <h1>Bem vindo a nossa plataforma</h1>

                <div id="main-content">
                    <div class="user-info">
                        <img src="../assets/planet1.png" alt="logo do perfil" />
                        <h2>Nome do Usuário</h2>
                    </div>

                    <div id="links">
                        <a href="#">Ver perfil</a>
                        <a href="#">Certificados</a>
                    </div>
                </div>
            </main>

            <aside>
                <a href="#">Home</a>
                <a href="#">Catálogo</a>
                <a href="#">Fórum</a>
            </aside>
        </div>

        <script src="../scripts/paginaPrincipal.js"></script>
    </body>
</html>
