<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Página de Login</title>

        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/paginaDeLogin.css" />
        <link rel="stylesheet" href="../styles/partials/form.css" />
        <link rel="stylesheet" href="../styles/partials/animations.css" />
    </head>

    <body>
        <div id="app">
            <main>
                <div id="logo">
                    <img src="../assets/planet1.png" alt="Logo da marca" />
                    <h1>Nome Da Marca</h1>
                </div>

                <form>
                    <h2>Faça seu Login</h2>
                    <div class="input-wrapper">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Seu Email" />
                    </div>

                    <div class="input-wrapper">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" placeholder="Sua Senha"/>
                    </div>

                    <button>Entrar</button>
                </form>
            </main>
        </div>
    </body>
</html>
