header {
    --translateY: -100%;
    animation: moveY 600ms 200ms backwards;
}

footer {
    --translateY: 100%;
    animation: moveY 600ms 200ms backwards;
}

main {
    --translateX: -100%;
    animation: moveX 600ms 400ms backwards;
}

section {
    --translateX: -100%;
    animation: moveX 600ms 400ms backwards;
}

@keyframes moveY {
    0% {
        opacity: 0;
        transform: translateY(var(--translateY));
    }
}

@keyframes moveX {
    0% {
        opacity: 0;
        transform: translateX(var(--translateX));
    }
}
